<%= content_tag_for :tr, post do %>
  <td><%= post.title %></td>
  <td><%= post.body %></td>
  <td><%= post.published %></td>
  <td><%= link_to 'Show', post %></td>
  <td><%= link_to 'Edit', edit_post_path(post) %></td>
  <td><%= link_to 'Destroy', post, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></td>
<% end %>